@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

:root {
  --fg-1: #262626;
  --fg-2: #818181;
  --bg-1: ivory;
  --bg-2: #424242;
  --accent-1: #d48;
  --accent-6: #d84;
  --accent-4: #dd4;
  --accent-2: #8d4;
  --accent-7: #4d8;
  --accent-5: #48d;
  --accent-3: #84d;

  --old-accent-1: #f8b;
  --old-accent-6: #fb8;
  --old-accent-4: #ff8;
  --old-accent-2: #bf8;
  --old-accent-7: #8fb;
  --old-accent-5: #8bf;
  --old-accent-3: #b8f;

  --bg-accent-1: #f8b3;
  --bg-accent-6: #fb83;
  --bg-accent-4: #ff83;
  --bg-accent-2: #bf83;
  --bg-accent-7: #8fb3;
  --bg-accent-5: #8bf3;
  --bg-accent-3: #b8f3;

  --accent: var(accent-1);
  --bg-accent: var(bg-accent-1);
}

body {
  margin: 0;
  background-color: var(--bg-1);
  color: var(--fg-1);
}

main {
  margin: 0 auto;
  max-width: 75rem;
}

h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-family: Staatliches;
  font-weight: normal;
}

p {
  font-family: Libre Baskerville;
}

a {
  color: #06e;
}

article {
  font-family: Libre Baskerville;
}

pre {
  font-size: 1rem;
  font-family: Libre Baskerville;
}

.tag-button {
  margin: 0 0.25rem 0 0;
  padding: 0.25rem 0.5rem;
  height: 1.5rem;

  font-family: Staatliches;
  color: var(--bg-1);
  background: var(--fg-1);
  border: none;
}

.tag-button:hover {
  background: var(--bg-2);
}

.tag-button:active {
  background: var(--bg-1);
  color: var(--fg-1);
}

.shadowed {
  box-shadow:
    0 20px 25px -5px #0000001a,
    0 8px 10px -6px #0000001a;
}

hr {
  color: #0002;
}
