.home-about {
}

.home-intro {
  font-size: 1.25rem;
  font-family: Libre Baskerville;
}

.home-portrait {
  margin: 6px 3rem 3rem 6rem;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  float: right;
}

.home-education {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-campus {
  margin: 6px auto 0 0;
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}

hr {
  margin: 2rem 0;
}
