.error {
  background-color: #f883;
  border: 1px solid #f88;
  padding: 1rem;
  margin: 1rem;
  max-width: fit-content;
}

.error h2 {
  font-family: sans;
  font-weight: bold;
}
.error p {
  font-family: sans;
  margin: 0;
}
